.slide-wrapper {
  overflow: hidden;
}

.hello-slide {
  display: inline-block;
  animation: helloSlideUp 1s ease-out forwards; /* Adjust how long ywant it takes to slide up*/
}

.dynamic-slide {
  display: inline-block;
  animation: dynamicSlideDown 1s ease-out forwards; /* Adjust how long you want it takes to slide down */
}

@keyframes helloSlideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  80% {
    transform: translateY(-5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dynamicSlideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    transform: translateY(5%);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
